---
const tafsir = await Astro.glob('../../data/tafsir/maududi/mdd/**/*.json');
import HTMLHeadComponent from "../../components/HTMLHeadComponent.astro";
import SwiperConfig from "../../components/SwiperConfig.astro";
import TafsirAyahDisplay from "../../components/TafsirAyahDisplay.astro";
export function getStaticPaths() {
    let pageArray:object[]=[]
    for(let i=0;i<115;i++)
    {
        pageArray.push({params: {page: i}})
    }
    return pageArray
  }
  
const { page } = Astro.params;
const tafsirArr:any[]=[];
let hashCounter=0;
let tafsirCouter=0;

const arrayRange = (start, stop, step) =>
    Array.from(
    { length: (stop - start) / step + 1 },
    (value, index) => start + index * step
);
---
<!DOCTYPE html>
<html lang="en">
<HTMLHeadComponent/>
<SwiperConfig/>
</head>
<body style="padding: 5px;">

    {
        tafsir.forEach((surah)=>{
            surah.default.forEach((item) => {
                if(item.SurahNumber===page)
                {
                    tafsirArr.push(item);
                }
            })
        })
    }
    <div style="position: fixed; top:0px; width:100%; height:7px; z-index: 8; background:hsl(0, 0%, 100%);">

    </div>
    <div style="position: fixed; top:5px; width:100%; z-index: 10; background:hsl(0, 0%, 100%);">
        <button type="button" onclick="movePrev4();" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Previous</button>
    <button type="button" onclick="moveNext4();" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Next</button><br/><br/>
    <select id="tafsirPage" onchange="gotoSlide();" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Select Ayah</option>
        {
            tafsirArr.map((item)=>{
                hashCounter++;
                const range = arrayRange(Number(item.AyahFrom), Number(item.AyahTo), 1);
                return range.map((slide)=>{
                    return <option value={hashCounter-1}>{slide===0?"Introduction":slide}</option>
                })
            })
        }
    </select>
    </div>
    <br/><br/><br/><br/><br/>
    <div class="swiper mySwiper4">
        <div class="swiper-wrapper">
        {
            tafsirArr.map((item)=>{
                tafsirCouter++;
                return <TafsirAyahDisplay surah={page} count={tafsirCouter} first={item.AyahFrom} last={item.AyahTo} title={item.AyahText.replace(/(\\n|\\r|\\t)/gm,"")} text={item.Text.replace(/(\\n|\\r|\\t)/gm,"")}/>
            })
        }
            
        </div>
    </div>

    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script is:inline>
        const swiper4 = new Swiper(".mySwiper4", {
			loop: false,
            spaceBetween: 50
		});
    </script>
</body>
</html>