---
import json from '../../data/quran/read/ARB/arb.json';
import Ayath from '../../components/AyathMushaf.astro';

export function getStaticPaths() {
    let pageArray:object[]=[]
    for(let i=0;i<115;i++)
    {
        pageArray.push({params: {page: i}})
    }
    return pageArray
  }
  
const { page } = Astro.params;

const index=Number(page);

const mushafLink="../readSurah/"+page;

let numb=0;

---

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verses</title>
    <style>
        @font-face {
            font-family: myFirstFont;
            src: url("/fonts/arb.ttf");
        }
    </style>
    <script is:inline src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container mx-auto">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black text-center">Verses</h1><br/>
        <br/><div class="text-center"><a href={mushafLink}><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Read line by line</button></a></div>
        {json[0].book[0].surahs[index-1]?.ayahs?.map((item)=>{numb++; return <Ayath ayah={item.text} num={numb}/>})}
        <br/><div class="text-center"><a href="../quran"><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Back to Quran</button></a></div>
        <br/><br/>
    </div>
</body>
</html>

  