---
import HomeLayout from "../template/HomeLayout.astro";
import AudioPlayerScript from "../components/AudioPlayerScript.astro";
import SwiperConfig from "../components/SwiperConfig.astro";

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alim</title>

		<SwiperConfig/>

		<script is:inline>
			const showFull=(elemIDL,elemIDS,btnF,btnL)=>{
				document.getElementById(elemIDL).style.display="inline";
				document.getElementById(elemIDS).style.display="none";
				document.getElementById(btnL).style.display="inline";
				document.getElementById(btnF).style.display="none";
			}
			const showLess=(elemIDL,elemIDS,btnF,btnL)=>{
				document.getElementById(elemIDL).style.display="none";
				document.getElementById(elemIDS).style.display="inline";
				document.getElementById(btnL).style.display="none";
				document.getElementById(btnF).style.display="inline";
			}
		</script>

		<AudioPlayerScript/>
	</head>
	<body class="bg-dark_blue font-Inter">
		
	<HomeLayout></HomeLayout>
	
	</body>
</html>
