---
import HomeLayout from "../template/HomeLayout.astro";
import AudioPlayerScript from "../components/AudioPlayerScript.astro";
import SwiperConfig from "../components/SwiperConfig.astro";
import HTMLHeadComponent from "../components/HTMLHeadComponent.astro";

---
<html lang="en">
	<HTMLHeadComponent/>

		<SwiperConfig/>

		<script is:inline>
			const showFull=(elemIDL,elemIDS,btnF,btnL)=>{
				document.getElementById(elemIDL).style.display="inline";
				document.getElementById(elemIDS).style.display="none";
				document.getElementById(btnL).style.display="inline";
				document.getElementById(btnF).style.display="none";
			}
			const showLess=(elemIDL,elemIDS,btnF,btnL)=>{
				document.getElementById(elemIDL).style.display="none";
				document.getElementById(elemIDS).style.display="inline";
				document.getElementById(btnL).style.display="none";
				document.getElementById(btnF).style.display="inline";
			}
		</script>

		<AudioPlayerScript/>
	</head>
	<body class="bg-dark_blue font-Inter">
		
	<HomeLayout></HomeLayout>
	
	</body>
</html>
