---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script is:inline>
        const recetInsightsArr=[
            {
                "titleMeaning":"The Opener",
                "title":"Al-Fatihah",
                "arbTitle":"ألْفَاتِحَة",
                "ayahCount":"7"
            },
            {
                "titleMeaning":"The Cow",
                "title":"Al-Baqarah",
                "arbTitle":"البقرة",
                "ayahCount":"286"
            },
            {
                "titleMeaning":"Family of Imran",
                "title":"Aal-Imran",
                "arbTitle":"آل عمران",
                "ayahCount":"200"
            },
            {
                "titleMeaning":"The Women",
                "title":"An-Nisaa'",
                "arbTitle":"النساء",
                "ayahCount":"176"
            },
            {
                "titleMeaning":"The Table Spread",
                "title":"Al-Ma'ida",
                "arbTitle":"المائدة",
                "ayahCount":"120"
            },
            {
                "titleMeaning":"The Cattle",
                "title":"Al-An'am",
                "arbTitle":"الأنعام",
                "ayahCount":"165"
            },
            {
                "titleMeaning":"The Heights",
                "title":"Al-A'raf",
                "arbTitle":"الأعراف",
                "ayahCount":"206"
            }
    ]

    localStorage.setItem('recentInsights',JSON.stringify(recetInsightsArr));
    </script>
    <title>Document</title>
</head>
<body>
    
</body>
</html>