---
// async function funcName(url){
//     const response = await fetch(url,{
//         headers:{'Authorization': 'Bearer 5404ebcd8bc9d109ca39c77f9fbab080a94279c5'}
//     });
//     var data = await response.json();
//     console.log(data);
//     }
//     funcName('https://formspree.io/api/0/forms/mjvqybvq/submissions')

// function isToday(date) {
//   const today = new Date();

//   if (today.toDateString() === date.toDateString()) {
//     return true;
//   }

//   return false;
// }
---

<form action="https://www.paypal.com/donate" target="_blank" method="post" target="_top" id="donate-btn-paypal-home">
    <input type="hidden" name="hosted_button_id" value="QV9QR3VWEF8YU" />
    <input class="img-btn-home" type="image" src="/images/paypal.png"  width ="450" height = "auto" alt="Donate with PayPal button" name="submit" title="PayPal - The safer, easier way to pay online!" />
</form>