---

---

<div class="md:col-span-6 mb-4 md:mb-0">
    <div class="blue-gr-box relative pr-12"> 
        <h4 class="text-white">San Fransisco, CA</h4>
        <a href="#" class="absolute top-4 right-3"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="11.6309" width="24" height="2" fill="white"/>
          <rect x="11" y="0.630859" width="2" height="24" fill="white"/>
          </svg> </a>
    </div>
</div>  