---

const {title,text}=Astro.props;
---
<div class="swiper-slide">
    <div class="rounded-xl p-2" style="background: #fff0db">
        <h3 set:html={title}></h3>
        <div set:html={text}></div>
    </div>
</div>
